#navbar {
    background-color: midnightblue;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
    height: 40px;
}

#navbuttonholder {
    margin-left: 15%;
    vertical-align: center;
}

#belownav {
    margin-top: 45px;
}

.navbar_button {
    background-color: midnightblue;
    color: snow;
    margin: 15px 20px;
    font-size: 22px;
    font-family: impact;
}

.navbar_button:hover {
    background-color: snow;
    color: black;
}